---

---

<footer class='bg-zinc-900'>
  <div class='mx-auto flex w-full max-w-screen-lg flex-col px-2'>
    <span class='my-2'>
      Made by
      <a
        class='underline'
        href='https://ggonzalesd.vercel.app/'
        target='_blank'
      >
        Grober Gonzales
      </a>
      | 2024
    </span>
  </div>
</footer>
