---
import Foods from '@/components/reactive/Foods';
import Layout from '@/layouts/Layout.astro';
// cWK6hJKA5ogdoY1DkAzRDZeilwx2
---

<Layout title='Welcome to Astro.' description=''>
  <span>Index Page</span>
  <Foods client:visible />
</Layout>
