---
import FoodMenu from './FoodMenu.astro';

interface Props {
  title: string;
  foods: Array<MenuFoodType>;
}

const { title, foods } = Astro.props;
---

{
  foods.length > 0 && (
    <div>
      <span>{title}</span>
      <div class='flex flex-col'>
        {foods.map((food) => (
          <FoodMenu food={food} />
        ))}
      </div>
    </div>
  )
}
