---
import { getAllFoods, getMenu } from '@/firebase/server';
import FoodMenu from './FoodMenu.astro';
import CategoryMenu from './CategoryMenu.astro';

// const foods = await getAllFoods();
const menu = await getMenu();
---

<section class='flex max-w-[90vw] text-zinc-700'>
  <div menu-design class='border-r-2 border-dashed border-zinc-300'></div>
  <div class='flex-grow rounded-r-md bg-zinc-300 p-2'>
    <span class='flex justify-center text-center text-xl font-bold'
      >Menu Del Día</span
    >
    <div class='my-2 h-[1px] w-full bg-zinc-500'></div>
    {
      menu && (
        <div class='flex flex-col gap-4 md:flex-row'>
          <div>
            <CategoryMenu foods={menu.menu} title='Principal' />
          </div>
          <div>
            <CategoryMenu foods={menu.intro} title='Entradas' />
            <CategoryMenu foods={menu.other} title='Otros' />
          </div>
        </div>
      )
    }
  </div>
</section>

<style scoped>
  section {
    transform: translateY(5vh);
    animation: daily-move ease forwards;
    animation-range: 0% 100%;
    animation-timeline: scroll();
    box-shadow: 0px 0px 32px 8px #0008;
  }

  @keyframes daily-move {
    to {
      transform: translateY(-10vh);
    }
  }

  div[menu-design] {
    display: flex;
    background: radial-gradient(circle, #0000 45%, rgba(212, 212, 216, 1) 55%);
    background-size: 100% 16px;
    background-repeat: repeat-y;
    min-width: 16px;
    min-height: 100%;
  }
</style>
