---
import { getAllFoods, getMenu } from '@/firebase/server';
import FoodMenu from './FoodMenu.astro';
import CategoryMenu from './CategoryMenu.astro';

// const foods = await getAllFoods();
const menu = await getMenu();
---

<section class='flex text-zinc-700'>
  <div menu-design class='border-r-2 border-dashed border-zinc-300'></div>
  <div class='flex-grow rounded-r-md bg-zinc-300 p-2'>
    <span class="text-center text-xl font-bold justify-center flex">Menu Del Día</span>
    <div class='my-2 h-[1px] w-full bg-zinc-500'></div>
    {
      menu && (
        <CategoryMenu foods={menu.intro} title='Entradas' />
        <CategoryMenu foods={menu.menu} title='Principal' />
        <CategoryMenu foods={menu.other} title='Otros' />
      )
    }
  </div>
</section>

<style scoped>
  section {
    transform: translateY(10px) rotate(-2deg) scale(1);
    animation: header-bg-change ease forwards;
    animation-range: 0% 100%;
    animation-timeline: scroll();
  }

  @keyframes header-bg-change {
    to {
      transform: translateY(-10px) rotate(2deg) scale(1.1);
    }
  }

  div[menu-design] {
    display: flex;
    background: radial-gradient(circle, #0000 45%, rgba(212, 212, 216, 1) 55%);
    background-size: 100% 16px;
    background-repeat: repeat-y;
    min-width: 16px;
    min-height: 100%;
  }
</style>
