---
import AdminHeader from '@/components/app/AdminHeader.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/logo.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class='flex h-full w-full flex-col md:h-full md:min-h-screen md:flex-row'
  >
    <AdminHeader />
    <main class='flex-grow'>
      <slot />
    </main>
  </body>
</html>
