---
import Header from '@/components/app/Header.astro';
import Footer from '@/components/app/Footer.astro';
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={description} />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body class='flex flex-col justify-between bg-zinc-900 text-white'>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
