---
import { serverAuth } from '@/firebase/server/config';
import AdminLayout from '@/layouts/AdminLayout.astro';
import Layout from '@/layouts/Layout.astro';
import { onlyPrivileges, Privileges, getUserPayload } from '@/utils/privileges';

// Check Cookies
const payload = await getUserPayload(Astro);

if (!onlyPrivileges(Privileges.READ, payload)) {
  return Astro.redirect('/login');
}

const result = await serverAuth.listUsers(10);
---

<AdminLayout title='Users'>
  <span>Astro</span>
  <section>
    {
      result.users.map(({ displayName, photoURL, customClaims, email }) => (
        <div>
          <span>{displayName}</span>
          <span>{email}</span>
          <img src={photoURL} class='aspect-square size-16' />
          <div>{JSON.stringify(customClaims?.privileges)}</div>
        </div>
      ))
    }
  </section>
</AdminLayout>
