---
import { serverAuth } from '@/firebase/server/config';
import { onlyPrivileges, Privileges, getUserPayload } from '@/utils/privileges';
import AdminLayout from '@/layouts/AdminLayout.astro';
import ListUsers from '@/components/admin/ListUsers';

// Check Cookies
const payload = await getUserPayload(Astro);

if (!onlyPrivileges(Privileges.READ, payload)) {
  return Astro.redirect('/login');
}

const result = await serverAuth.listUsers(10);
---

<AdminLayout title='Users'>
  <ListUsers users={result.users} client:only='react'>
    <div
      slot='fallback'
      class='flex h-full w-full flex-grow items-center justify-center'
    >
      <div>Loading...</div>
    </div>
  </ListUsers>
</AdminLayout>
